/****** General ******/

html, body {
	height: 100%;
	/*min-width: 980px;*/
}

a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.centerDiv
{
	/*
	http://stackoverflow.com/questions/114543/how-to-center-a-div-in-a-div-horizontally
	*/

    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    display:box;
    box-pack:center;
    box-align:center;

}

.viewport {
	min-height: 100%;
	width: 100%;
	position: relative;
	background-color: black;
}

/****** Header ******/

/****** Body ******/
.main {
	clear: both;
	text-align: center;
	border: 3px solid #000;
	border-radius: 20px;
	border-color: black;
	width: 90%;
	max-width: 450px;
	height: 90%;
	max-height: 35em;
	overflow: auto;
	margin: auto;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: white;
}

.title {
	padding: .5em 0 .5em 0;
	font-family: Trade Winds, sans-serif;
	font-size: xx-large;	
}

.hot {
	color: #A33;
	font-family: inherit;
	font-size: inherit;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.cold {
	color: #0AD;
	font-family: inherit;
	font-size: inherit;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.or {
	color: #666;
	font-family: inherit;
	font-size: large;
	vertical-align: middle;
}

.instruct {
	width: 80%;
	margin: auto;
	font-family: Roboto, sans-serif;
	font-size: medium;	
}

.message {
	width: 80%;
	margin: auto;
	font-family: Roboto, sans-serif;
	font-size: small;	
	padding: .75em;
}

#guessBox {
	font-size: xx-large;
	text-align: center;
	margin: 0.5em 0 0 0;
	font-family: Averia Libre;
	width: 3em;
	border: 2px solid #666;
	border-radius: 3px;
}

#guessBox:focus {
	outline: none;
}



#guessButton {
	font-family: Trade Winds, sans-serif;
	font-size: x-large;	
	background-color: #833;
	padding: 10px 12px 7px 12px;
}

#resetButton {
	font-family: Roboto, sans-serif;
	font-size: small;
	font-weight: normal;	
}


.fauxButton {
	border: 2px solid #333;
	background-color: #333;
	padding: 7px 12px 7px 12px;
	color: white; 
	text-decoration: none;
	border-radius: 10px;
	width: 10em;
	margin: auto;
	margin-top: .5em;
}

.fauxButton:active {
	background-color: #000;
}

.fauxButton:hover {
	cursor: default;
	box-shadow: 0 3px 0 #aaaaaa;
}

.package {
	position: relative;
	top: 1em;
}

.score {
	position: absolute;
	border: 2px solid #000;
	display: inline-block;
	width: 6em;
	padding: 0.7em 0.5em 1.1em 0.5em;	
	border-radius: 3px;
	left: 5em;
	font-size: medium;
}

.label {
	position: absolute;
	display:inline-block;
	background-color: #FFF;
	width: 5.5em;
	z-index: 100;
	padding: 0 .4em 0 .4em;
	font-family: Roboto;
	left: 7.45em;
	top: 3em;
	font-size: small;
}

.lastGuessPkg {
	left: -4em;
}

.tempPkg {
	left: 6.6em;
}

.temp {
	font-family: Trade Winds, serif;
}

.currentScorePkg {
	left: 17em;
}

.bestScorePkg {
	left: 6.6em;	
	top: 6em;
}





/****** Footer ******/
footer {	
	padding: 0.5em 0 0.5em 0;
	color: #fff;
	background-color: #333;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: Averia Libre, serif;
	font-size: small;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}