/****** General ******/

html, body {
	height: 100%;
	/*min-width: 980px;*/
}

a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.centerDiv
{
	/*
	http://stackoverflow.com/questions/114543/how-to-center-a-div-in-a-div-horizontally
	*/

    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    display:box;
    box-pack:center;
    box-align:center;

}

.viewport {
	min-height: 100%;
	width: 100%;
	position: relative;
	background-color: black;
}

/****** Header ******/

/****** Body ******/
.main {
	clear: both;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 5px;
	border-color: black;
	width: 80%;
	max-width: 480px;
	max-height: 30em;
	overflow: auto;
	margin: auto;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: white;
}

.title {
	padding: 20px 0 20px 0;
	font-family: Trade Winds, sans-serif;
	font-size: xx-large;	
}

.hot {
	color: #A33;
	font-family: inherit;
	font-size: inherit;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.cold {
	color: #0AD;
	font-family: inherit;
	font-size: inherit;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.or {
	color: #666;
	font-family: inherit;
	font-size: large;
	vertical-align: middle;
}

.instruct {
	width: 80%;
	margin: auto;
	font-family: Roboto, sans-serif;
	font-size: medium;	
}

.buttons{
	position: relative;
	margin: auto;

}

.buttons div{
	width: 10em;
	margin: auto;
	margin-top: .5em;
}

#guessButton {
	font-family: Trade Winds, sans-serif;
	font-size: x-large;	
	background-color: #833;
}

#resetButton {
	font-family: Roboto, sans-serif;
	font-size: small;
	font-weight: normal;	
}


.fauxButton{
	border: 2px solid #333;
	background-color: #333;
	padding: 7px 12px 7px 12px;
	color: white; 
	text-decoration: none;
	border-radius: 10px;
}

.fauxButton:active{
	background-color: #000;
}

.fauxButton:hover{
	cursor: default;
	box-shadow: 0 3px 0 #aaaaaa;
}


/****** Footer ******/
footer {	
	padding: 0.3em 0 0.3em 0;
	color: #fff;
	background-color: #333;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-family: VT323, sans-serif;
	font-size: medium;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}